[loggers]
keys=root, parser

[handlers]
keys=console, fileHandler

[formatters]
keys=simplefmt

[logger_root]
level=NOTSET
handlers=console

[logger_parser]
level=WARNING
handlers=console, fileHandler
propagate=0
qualname=parser

[handler_console]
class=StreamHandler
level=DEBUG
formatter=simplefmt
args=(sys.stdout,)

[handler_fileHandler]
class=handlers.RotatingFileHandler
level=DEBUG
formatter=simplefmt
args=('parser.log', 'a', 1024, 5)

[formatter_simplefmt]
format=%(asctime)s - %(name)s - %(levelname)s : %(message)s
datefmt=%Y-%m-%d %H:%M:%S
